* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.navigation--open {
  animation: open-navigation 0.5s ease-in-out forwards;
}

.navigation--close {
  animation: close-navigation 0.5s ease-in-out forwards;
}

.anchor--open {
  animation: open-anchors 0.5s ease-in-out forwards;
}

@keyframes open-navigation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes close-navigation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes open-anchors {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1080px;
  padding: 20px;
  z-index: 1;
}

.header-logo__text {
  font-family: "Kulim Park", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.header-open-icon,
.header-close-icon {
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  opacity: 0;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.navigation__item {
  transform: translateX(-30px);
  opacity: 0;
}
.navigation__anchor {
  font-family: "Kulim Park", sans-serif;
  font-size: 1.2rem;
  color: black;
}

@media (min-width: 1200px) {
  .header {
    padding: 20px 0;
  }
  .header-logo__text {
    font-size: 2.7rem;
  }
  .navigation {
    position: static;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    background-color: transparent;
    display: inline-block;
    align-items: normal;
    justify-content: center;
    transform: translateX(0);
    opacity: 1;
  }
  .navigation__list {
    flex-direction: row;
  }
  .navigation__item {
    opacity: 1;
    transform: translateX(0);
  }
  .navigation__anchor {
    animation: none;
    font-size: 1rem;
  }
  .header-open-icon,
  .header-close-icon {
    display: none;
  }
  .navigation--open {
    animation: none;
  }
  .navigation--close {
    animation: none;
  }
  .anchor--hover:hover {
    border-bottom: 2px solid black;
  }
}
.hero {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 690px;
  text-align: center;
  opacity: 0;
  animation: el-enter-up 1s ease-in-out forwards;
}

.hero-text__objective {
  font-family: "Jura", sans-serif;
  line-height: 1.8rem;
}

.hero-text__heading {
  font-family: "Jura", sans-serif;
  font-size: 2rem;
}
.hero-text__heading span {
  font-family: "Kulim Park", sans-serif;
  font-weight: bolder;
}

.hero-image {
  max-width: 350px;
  opacity: 0;
  animation: el-enter-up 1s ease-in-out 1s forwards;
}

@keyframes el-enter-up {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero-socials {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  gap: 15px;
}
.hero-socials__icon {
  font-size: 2rem;
  color: black;
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1080px;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-text {
    text-align: start;
    animation: el-enter-right 1s ease-in-out forwards;
  }
  .hero-text__heading {
    font-size: 3.2rem;
  }
  .hero-text__objective {
    max-width: 580px;
    font-size: 1.1rem;
  }
  .hero-image {
    max-width: 450px;
    animation: el-enter-right 1s ease-in-out 1s forwards;
  }
  @keyframes el-enter-right {
    0% {
      transform: translateX(-10px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/*# sourceMappingURL=styles.css.map */
