// ---------------- VARIABLES ----------------

// ---------------- RESET ----------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #f3f3f3;

  &::-webkit-scrollbar {
    display: none;
  }
}

// ---------------- UTILITIES ----------------
.hidden {
  display: none;
}

// ---------------- ANIMATIONS ----------------

.drop-down-enter {
  opacity: 0;
  transform: translateY(-20px);
  animation: slideInFromUp 0.5s ease-in-out forwards;
}

.drop-down-exit {
  opacity: 1;
  transform: translateY(0);
  animation: slideOutFromDown 0.3s 0.5s ease-in-out forwards;
}

@keyframes slideInFromUp {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutFromDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
  }
}

// ---------------- HEADER ----------------
.header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  left: 0;
  z-index: 3;
  animation-duration: 0.5s;

  &-logo {
    font-size: 3rem;
    font-weight: 500;
  }

  &-icon {
    position: relative;
    z-index: 2;
    font-size: 1.4rem;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
  }

  &__anchor {
    font-size: 1.2rem;
    color: black;
  }
}

@media (min-width: 640px) {
  .header-logo {
    z-index: 0;
  }

  .navigation {
    width: 50%;
    max-width: 300px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.137);
  }

  .navigation__list {
    gap: 50px;
  }

  .navigation__anchor {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .header {
    padding-top: 40px;
  }

  .header-open-icon {
    display: none;
  }

  .header__inner {
    max-width: 1000px;
  }

  .navigation {
    position: relative;
    top: auto;
    left: auto;
    background-color: transparent;
    height: auto;
    width: auto;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    transform: none;
    transition-duration: 0s;
    transition-timing-function: ease;

    &__list {
      flex-direction: row;
      gap: 40px;
    }

    &__anchor {
      font-size: 1rem;
      color: black;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

// ---------------- HERO SECTION ----------------

.hero {
  height: 740px;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 416px;
    margin: 0 auto;
    gap: 20px;
    position: relative;
  }
}

.introduction {
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  font-weight: 500;
  animation-duration: 0.5s;
  animation-delay: 1s;
}

.summary {
  text-align: center;
  width: 90%;
  line-height: 1.5rem;
  font-size: 1.2rem;
  animation-duration: 0.5s;
  animation-delay: 1s;
}

.down-arrow {
  font-size: 2rem;
  position: absolute;
  bottom: 100px;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  color: black;

  & i:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  &:active {
    color: black;
  }
}

@media (min-width: 768px) {
  .hero__inner {
    max-width: none;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }

  .introduction {
    width: 300px;
    text-align: start;
  }

  .summary {
    width: 400px;
    text-align: start;
  }

  .down-arrow {
    bottom: 100px;
  }
}

@media (min-width: 1024px) {
  .hero {
    height: 100vh;
  }

  .hero__inner {
    max-width: 1000px;
  }

  .introduction {
    font-size: 3rem;
    line-height: 2.8rem;
  }

  .summary {
    font-size: 1.4rem;
    width: 450px;
    line-height: 1.7rem;
  }
}

@media (min-width: 1200px) {
  .introduction {
    font-size: 3.5rem;
    line-height: 3.3rem;
    width: 500px;
  }

  .summary {
    font-size: 1.7rem;
    width: 550px;
    line-height: 2rem;
  }
}

// ---------------- WORK SECTION ----------------

.work {
  opacity: 0;
}

.work__inner {
  width: 85%;
  max-width: 420px;
  height: 100%;
  margin: 0 auto 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding-top: 200px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__name {
    font-weight: 600;
  }

  &__description {
    font-size: 0.95rem;
    margin-top: 20px;
  }

  &__links {
    font-size: 0.95rem;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

.github-link,
.live-link {
  color: black;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

@media (min-width: 768px) {
  .work__inner {
    padding-top: 200px;
    max-width: 710px;
  }

  .project {
    flex-direction: row;
    align-items: center;

    &__image {
      max-width: 300px;
    }
  }
}

@media (min-width: 1024px) {
  .work__inner {
    max-width: 1000px;
    gap: 100px;
  }

  .project {
    gap: 70px;
  }

  .project__name {
    font-size: 2rem;
  }

  .project__description {
    font-size: 1.1rem;
  }

  .project__links {
    font-size: 1rem;
  }

  .project__image {
    max-width: 500px;
  }
}

// ---------------- ABOUT SECTION ----------------

.about {
  display: flex;
  align-items: center;

  &__inner {
    width: 85%;
    max-width: 370px;
    margin: 170px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 30px;
  }
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;

  &__subheading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2rem;
  }

  &__summary {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}

@media (min-width: 768px) {
  .about__inner {
    max-width: none;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
  }

  .about-text {
    max-width: 358px;
  }

  .about-text__subheading {
    text-align: start;
  }

  .about-text__summary {
    text-align: start;
  }

  .about-image {
    max-width: 300px;
  }
}

@media (min-width: 1024px) {
  .about {
    height: 100vh;
  }

  .about-text {
    max-width: 550px;
  }
  .about-text__subheading {
    font-size: 3rem;
    line-height: 2.8rem;
  }

  .about-text__summary {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  .about__inner {
    max-width: 1000px;
    justify-content: space-between;
  }

  .about-image {
    max-width: 350px;
  }
}
// ---------------- CONTACT SECTION ----------------
.contact {
  height: 100vh;

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &-subheading {
    text-align: center;
  }

  &-email {
    color: black;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
      font-weight: 700;
    }
  }

  &-socials {
    display: flex;
    justify-content: center;
    gap: 30px;

    &__anchor {
      color: black;
      text-decoration: underline;

      &:hover {
        text-decoration: underline;
        font-weight: 700;
      }
    }
  }
}

// ---------------- FOOTER ----------------
