* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.hidden {
  display: none;
}

.navigation--open {
  animation: open-navigation 0.5s ease-in-out forwards;
}

.navigation--close {
  animation: close-navigation 0.5s ease-in-out forwards;
}

.anchor--open {
  animation: open-anchors 0.5s ease-in-out forwards;
}

@keyframes open-navigation {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes close-navigation {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}
@keyframes open-anchors {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes el-enter-up {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes el-enter-right {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.subheading {
  font-family: "Kulim Park", sans-serif;
  font-weight: bold;
  font-size: 2.7rem;
}

.headline {
  font-family: "Jura", sans-serif;
  font-size: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 1080px;
  padding: 20px;
  z-index: 1;
  background-color: white;
}

.header-logo__text {
  font-family: "Kulim Park", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}

.header-open-icon,
.header-close-icon {
  font-size: 1.5rem;
  position: relative;
  z-index: 1;
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-100%);
  opacity: 0;
}
.navigation__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.navigation__item {
  transform: translateX(-30px);
  opacity: 0;
}
.navigation__anchor {
  font-family: "Kulim Park", sans-serif;
  font-size: 1.2rem;
  color: black;
}

@media (min-width: 1200px) {
  .header {
    padding: 20px 0;
    animation: el-from-top 1s ease-in-out forwards;
  }
  @keyframes el-from-top {
    0% {
      opacity: 0;
      transform: translate(-50%, -10px);
    }
    100% {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
  .header-logo__text {
    font-size: 2.7rem;
  }
  .navigation {
    position: static;
    top: auto;
    left: auto;
    height: auto;
    width: auto;
    background-color: transparent;
    display: inline-block;
    align-items: normal;
    justify-content: center;
    transform: translateX(0);
    opacity: 1;
  }
  .navigation__list {
    flex-direction: row;
  }
  .navigation__item {
    opacity: 1;
    transform: translateX(0);
  }
  .navigation__anchor {
    animation: none;
    font-size: 1rem;
  }
  .header-open-icon,
  .header-close-icon {
    display: none;
  }
  .navigation--open {
    animation: none;
  }
  .navigation--close {
    animation: none;
  }
  .anchor--hover:hover {
    border-bottom: 2px solid black;
  }
}
.hero {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 690px;
  text-align: center;
  opacity: 0;
  animation: el-enter-up 1s ease-in-out forwards;
}

.hero-text__objective {
  font-family: "Jura", sans-serif;
  line-height: 1.8rem;
}

.hero-text__heading {
  font-family: "Jura", sans-serif;
  font-size: 2rem;
}
.hero-text__heading span {
  font-family: "Kulim Park", sans-serif;
  font-weight: bolder;
}

.hero-image {
  max-width: 350px;
  opacity: 0;
  animation: el-enter-up 1s ease-in-out 1s forwards;
}

.hero-socials {
  position: absolute;
  bottom: 10px;
  left: 0;
  display: flex;
  gap: 15px;
}
.hero-socials__icon {
  font-size: 2rem;
  color: black;
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1080px;
    flex-direction: row;
    justify-content: space-between;
  }
  .hero-text {
    text-align: start;
    animation: el-enter-right 1s ease-in-out forwards;
  }
  .hero-text__heading {
    font-size: 3.2rem;
  }
  .hero-text__objective {
    max-width: 580px;
    font-size: 1.1rem;
  }
  .hero-image {
    max-width: 450px;
    animation: el-enter-right 1s ease-in-out 1s forwards;
  }
}
.about-me {
  width: 90%;
  margin: 0 auto;
  padding-top: 80px;
}

.about-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-me-flex {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 690px;
  margin: 50px auto 0 auto;
}
.about-me-flex__text {
  font-family: "Kulim Park", sans-serif;
  line-height: 2rem;
  text-align: center;
}

.about-me-flex__image {
  max-width: 350px;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.skills__logo {
  max-width: 100px;
}

@media (min-width: 1200px) {
  .about-me {
    max-width: 1080px;
    padding-top: 100px;
  }
  .about-text {
    text-align: start;
  }
  .about-me-flex {
    flex-direction: row;
    max-width: none;
  }
  .about-me-flex__text {
    text-align: start;
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 2.5rem;
  }
  .about-me-flex__image {
    max-width: 480px;
  }
  .skills {
    flex-wrap: nowrap;
    justify-content: space-between;
    max-width: 1000px;
  }
  .skills__logo {
    max-width: 100px;
  }
}
.my-work {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 100px 0 30px 0;
}

.my-work-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.projects {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.project {
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  height: 140px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  max-width: 286px;
  width: 100%;
}
.project__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition-duration: 0.5s;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.project__overlay:hover {
  background-color: rgba(0, 0, 0, 0.689);
  opacity: 1;
}
.project__name {
  color: white;
  font-family: "Kulim Park", sans-serif;
  font-size: 1.5rem;
}
.project__icons {
  display: flex;
  gap: 10px;
}
.project__icon {
  color: white;
  font-size: 1.4rem;
}
.project__icon:hover {
  transform: scale(1.2);
}

@media (min-width: 1200px) {
  .project {
    max-width: 350px;
    height: 200px;
  }
  .my-work-text {
    text-align: start;
    align-items: flex-start;
  }
}
.contact {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
}

.contact-text {
  text-align: center;
}

.contact-content {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.contact-form {
  width: 100%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-form__input {
  width: 100%;
  padding: 8px;
}
.contact-form__textarea {
  width: 100%;
  padding: 8px;
  font-family: "Kulim Park", sans-serif;
}
.contact-form__btn {
  background-color: black;
  color: white;
  padding: 15px;
  border: none;
  font-size: 1.2rem;
  font-family: "Jura", sans-serif;
}

.contact-manual {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.contact-manual__email {
  text-align: center;
  font-family: "Jura", sans-serif;
  font-size: 0.85rem;
  font-weight: 700;
}
.contact-manual__email span {
  font-weight: 100;
}

.contact-manual-socials {
  display: flex;
  gap: 10px;
}
.contact-manual-socials__icon {
  font-size: 1.7rem;
  color: black;
}

@media (min-width: 425px) {
  .contact-manual__email {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .contact-content {
    flex-direction: row;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
